[submodule "Tests/UnitTester"]
	path = Tests/UnitTester
	url = git://github.com/anutron/mootools-unittester.git
[submodule "assets/core"]
	path = assets/core
	url = git://github.com/mootools/mootools-core.git
[submodule "assets/slick/Source/slick"]
	path = assets/slick/Source/slick
	url = git://github.com/subtleGradient/slick.git
[submodule "assets/more"]
	path = assets/more
	url = git://github.com/mootools/mootools-more.git
[submodule "ART"]
	path = ART
	url = git://github.com/kamicane/art.git
[submodule "assets/mootools-color"]
	path = assets/mootools-color
	url = git://github.com/anutron/mootools-color.git
[submodule "assets/mootools-table"]
	path = assets/mootools-table
	url = git://github.com/anutron/mootools-table.git
[submodule "assets/art"]
	path = assets/art
	url = git://github.com/anutron/art.git
[submodule "assets/touch"]
	path = assets/touch
	url = git@github.com:anutron/mootools-touch.git
