[submodule "Tests/UnitTester"]
	path = Tests/UnitTester
	url = git://github.com/anutron/mootools-unittester.git
[submodule "assets/core"]
	path = assets/core
	url = git://github.com/mootools/mootools-core.git
[submodule "assets/color/Source/color"]
	path = assets/color/Source/color
	url = git://github.com/kamicane/mootools-color.git
[submodule "assets/touch/Source/touch"]
	path = assets/touch/Source/touch
	url = git://github.com/anutron/mootools-touch.git
[submodule "assets/slick/Source/slick"]
	path = assets/slick/Source/slick
	url = git://github.com/subtleGradient/slick.git
[submodule "assets/more"]
	path = assets/more
	url = git://github.com/mootools/mootools-more.git
[submodule "ART"]
	path = ART
	url = git@github.com:kamicane/art.git
